.ranking {
    background-color: var(--blue-light);
    padding: 5px 30px;
    width: 60%;
}

.table-headers {
    display: flex;
    justify-content: space-around;
    font-size: 12.5px;
}

.table-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.table-data p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}