.image-style {
    height: 160px;
    width: 100px;
}

body { 
    font-family: sans-serif; 
}

.scene {
    height: 160px;
    perspective: 600px;
    width: 100px;
}

.card {
    cursor: pointer;
    height: 100%;
    transform-origin: center right;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 100%;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}

.card__face--front {
    background: red;
}

.card__face--back {
    background: var(--yellow-color);
    transform: rotateY(180deg);
}