:root {
    --blue-light: #e5f2f2;
    --gray-color: #252525;
    --yellow-color: #ffc100;
    --roboto: 'Roboto', sans-serif;
    --lobster: 'Lobster', cursive;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

button {
    border-radius: 50px;
    border-style: none;
}

.round-border {
    border-radius: 5px;
}

.no-border {
    border-style: none;
}

.center-xy {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-x {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.roboto {
    font-family: var(--roboto);
}

.lobster {
    font-family: var(--lobster);
}

.yellow-text {
    color: var(--yellow-color);
}

.bg-light-blue {
    background-color: var(--blue-light);
}